.btn_click {
  background-color: #099178c9;
  padding: 0.8rem;
  border: 1px solid black;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3rem;
  color: #000000;
  height: 60px;
  width: 600px;
  border-radius: 30px;
}

.btn_click:hover {
  background-color: #09d6ad;
  transition: 0.5s;
  scale: 1.05;
}

.article_visible {
  text-align: left;
  background-color: #e0f1d9;
  padding: 0.9rem;
  border: 1px solid black;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3rem;
  color: #000000;
  max-height: auto;
  width: 600px;
  border-radius: 30px;
}

.article_title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3rem;
  color: #000;
}

.article_text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.article_coclusion {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3rem;
  color: rgb(0, 0, 0);
}
