.service {
  text-align: center;
}

.service_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
  row-gap: 25px;

  margin-bottom: 20px;
}

.service_text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  color: #000000;
  margin-bottom: 20px;
}

.content_item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
  width: 200px;
  height: 350px;
}

.item_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border-radius: 50%;

  margin-bottom: 5px;
}

.item_bg-1 {
  background-color: #ff2f1e;
  border-radius: 50%;
  width: 190px;
  height: 350px;
}

.item_text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: #fff;
  top: 115px;
  left: 2px;
  box-shadow: 1px 15px 16px 6px rgba(0, 0, 0, 0.16);
}

.item_text h3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.item_text p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1em;
}

.item_number-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ff2f1e;
  margin-bottom: 5px;
}

p {
  font-size: 17px;
}

.item_bg-2 {
  background-color: #fb9400;
  border-radius: 50%;
  width: 190px;
  height: 350px;
}
.item_number-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fb9400;
  margin-bottom: 5px;
}

.item_bg-3 {
  background-color: #94d140;
  border-radius: 50%;
  width: 190px;
  height: 350px;
}
.item_number-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #94d140;
  margin-bottom: 5px;
}

.item_bg-4 {
  background-color: #47d340;
  border-radius: 50%;
  width: 190px;
  height: 350px;
}
.item_number-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #47d340;
  margin-bottom: 5px;
}
.item_bg-5 {
  background-color: #67ff03;
  border-radius: 50%;
  width: 190px;
  height: 350px;
}
.item_number-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #67ff03;
  margin-bottom: 5px;
}
