.div_click {
  background-color: blueviolet;
  width: 300px;
  padding: 0.8rem 1.2rem;
  border: 1px solid black;
}

.div_vivble {
  background-color: rgb(241, 236, 245);
  width: 300px;
  padding: 0.8rem 1.2rem;
}
