@import './reset.css';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */

#root {
  min-height: 100%;
}

html body {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

@media (max-with: 760px) {
  .phone_big_v {
    display: none;
  }
  .min {
    display: block;
  }
}
