.carousel {
  cursor: grab;
  overflow: hidden;
}

.inner_carousel {
  display: flex;
}

.item {
  min-height: 40rem;
  width: 30rem;
  padding: 10px;
  pointer-events: none;
}
.item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
