.person_wrapper {
  background-color: #bacdb3;
  width: 350px;
  height: 600px;
  border-radius: 20px;
}

.person_img {
  width: 350px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.person_name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
}

.person_post {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 0.2em;
  text-align: center;
  color: #000000;
}

.person_exp {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 1.2em;
  text-align: center;
  color: #000000;
}
